In [32]:
pip install nltk

Requirement already satisfied: nltk in c:\users\ankit\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\ankit\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\ankit\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ankit\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\ankit\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\ankit\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import nltk

In [34]:
import pandas as pd

In [35]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [36]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [37]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [38]:
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [39]:
display(fake.head(10))

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [40]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [41]:
fake['target']=0
genuine['target']=1

In [42]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [43]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [44]:
data=pd.concat([fake,genuine],axis=0)

In [45]:
data=data.reset_index(drop=True)

In [46]:
data=data.drop(['subject','title','date'],axis=1)

In [47]:
print(data.columns)

Index(['text', 'target'], dtype='object')

### Tokenization

In [48]:
from nltk.tokenize import word_tokenize

In [49]:
data['text']=data['text'].apply(word_tokenize)

### Stemming

In [50]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [51]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [52]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [53]:
data['text']=data['text'].apply(stem_it)

In [54]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# Stopword removal

In [55]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [56]:
data['text']=data['text'].apply(stop_it)

In [57]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [58]:
data['text']=data['text'].apply(' '.join)

# splitting

In [59]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'])

In [60]:
display(y_train.head())

17024    0
14636    0
14873    0
31052    1
42644    1
Name: target, dtype: int64

In [61]:
display(X_train.head())

17024    gowdi hammer with those who say benghazi was p...
14636    this pretti hyster and reaction dure the democ...
14873    rep. keith ellison d-mn more than just radic a...
31052    madrid reuter the madrid wax museum friday unv...
42644    pari reuter french presid emmanuel macron said...
Name: text, dtype: object

# Vectorisation

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)
tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [66]:
print(tfidf_train)

  (0, 73567)	0.19023991302139404
  (0, 81780)	0.2060680603588049
  (0, 80993)	0.36150768198459304
  (0, 55954)	0.3410077553421268
  (0, 64706)	0.17327035812779054
  (0, 13870)	0.3984798927797353
  (0, 72616)	0.13151772159107245
  (0, 88994)	0.10846799606988809
  (0, 81654)	0.17887040481765626
  (0, 37413)	0.40915213239440396
  (0, 35868)	0.5070497887528369
  (1, 1716)	0.10750700351065176
  (1, 43423)	0.13421768236863632
  (1, 44902)	0.36848071867777976
  (1, 31537)	0.37904092216851804
  (1, 44901)	0.20209852954175617
  (1, 6836)	0.3939246930393431
  (1, 21171)	0.11629551505168671
  (1, 84088)	0.10335551906410734
  (1, 63876)	0.13031752549432876
  (1, 24966)	0.37904092216851804
  (1, 46382)	0.16086116159113503
  (1, 53784)	0.22999060391796694
  (1, 91136)	0.11352483129874393
  (1, 86015)	0.0855129437838931
  :	:
  (33672, 74988)	0.028937398216294763
  (33672, 49616)	0.0243324509478364
  (33672, 84990)	0.045675139348259675
  (33672, 61418)	0.022286564834899734
  (33672, 24652)	0.053788706768596935
  (33672, 89180)	0.020692265543466343
  (33672, 81492)	0.019713390086411455
  (33672, 53774)	0.032126823136408765
  (33672, 35412)	0.05193312369138598
  (33672, 10723)	0.03690108436929871
  (33672, 17659)	0.025645584496439108
  (33672, 29849)	0.04699436424233303
  (33672, 34737)	0.0272951838418614
  (33672, 37975)	0.01686278705467505
  (33672, 63238)	0.04493067296729372
  (33672, 17236)	0.0184729567207324
  (33672, 37827)	0.016924571070365445
  (33672, 21368)	0.04163020492508364
  (33672, 8154)	0.021516947820810043
  (33672, 67582)	0.052744478353131875
  (33672, 55757)	0.02161936123620382
  (33672, 81576)	0.03524352343232176
  (33672, 73567)	0.032015720394118485
  (33672, 72616)	0.022133287039811537
  (33672, 88994)	0.03650843799001683

# LogisticRegression

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [68]:
model_1 = LogisticRegression(max_iter = 900)
model_1.fit(tfidf_train,y_train)
pred_1= model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test,pred_1)
print(cr1*100)

98.88641425389754

# passiveAggressiveClassifier

In [69]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [70]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print("Accuracy of prediction is : ",accscore*100)

Accuracy of prediction is :  99.74164810690424